<div class="container">
  <div class="row">
    @for (product of products; track product.id) {
      <div class="col-md-3">
        <div class="card mb-3">
          <div class="card-body">
            <img [ngSrc]="product.imageUrl" class="card-img" height="175" width="262" alt="{{ product.name }}">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>

            <div class="d-flex justify-content-between">
              <a class="btn btn-primary" [routerLink]="'/products/' + product.id">Details</a>
              <button class="btn btn-success" (click)="addToCart(product)">Add to Cart</button>
            </div>

          </div>
        </div>
      </div>
    }
  </div>
</div>
